<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add product</title>
  </head>
  <body>
    <hedder>
      <nav>
        <ul>
          <li><a href="/">Shop</a></li>
          <li><a href="/admin/add-product">Add product</a></li>
        </ul>
      </nav>
    </hedder>
    <main>
      <form action="/admin/create-product" method="POST">
        <label for="name">Product name:</label><br /><input
          type="text"
          id="name"
          name="title"
        /><input type="submit" value="Add Product" />
      </form>
    </main>
  </body>
</html>
