body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
main {
  padding: 1rem;
}
.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: rgb(14, 155, 136);
  padding: 0 1.5rem;
  font-weight: 500;
}
.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.main-header_item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.main-header_item {
  margin: 0 1rem;
  padding: 0;
}
.main-header_item a {
  text-decoration: none;
  color: beige;
}

.main-header_item a:hover,
.main-header_item a:active,
.main-header_item a.active {
  color: rgb(240, 243, 41);
}
